body {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

.main, header, footer {
    background-color: #1F2937;
    color: #F9FAF8
}

header {
    font-size: 24px;
}

.main {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    flex-direction: column;
}

.main div {
    outline: solid red;
    flex: 1
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
}

.info div {
    outline: solid red;
    flex: 1
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    display: flex;
}

.quote div {
    outline: solid red;
    flex: 1;
}

.call-to-action, button {
    background-color: #3882F6;
    color: white;
}

.sign-up {
    display: flex;
}

.sign-up div {
    outline: solid red;
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    outline: solid red;
    flex: 1
}