body {
    font-family: 'Roboto', Georgia, 'Times New Roman', Times, serif;
}

.header-container {
    /*outline: solid lightblue;*/
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 12px 15%;
}

.header-logo {
    /*outline: solid blue;*/
    font-size: 24px;
    font-weight: bold;
    padding: 2px;
}


.link-container {
    /*outline: solid red;*/
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-content: center;
    gap: 30px;
    padding: 2px;
}

.link-container div {
    /*outline: solid green;*/
    flex:auto;
}


.hero-container {
    outline: solid blue;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.hero-item {
    outline: solid red;
    display: flex;
    flex-direction: column;
    margin: 12px 10%;
}

.hero-item div {
    outline: solid green;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
}




.hero-container, header, footer {
    background-color: #1F2937;
    color: #F9FAF8
}


.hero {
    font-size: 48px;
    font-weight: bolder;
    display: flex;
    border: 4px;
    justify-content: space-between;
    align-items: baseline;
}


.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
    font-weight: normal;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    display: flex;
}

.info div {
    outline: solid red;
    flex: 1
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    display: flex;
}

.quote div {
    outline: solid red;
    flex: 1;
}

.call-to-action, button {
    background-color: #3882F6;
    color: white;
}

.sign-up {
    display: flex;
}

.sign-up div {
    outline: solid red;
    flex: 1;
}

footer {
    display: flex;
}

footer div {
    outline: solid red;
    flex: 1
}